<html>
	<br/><br/><br/><br/><br/><br/><br/><br/>
	<div><h1 align=center>CourseCompare.Com</h1></div>	
	<div align=center> 
		<%= form_for :query do |f| %>
			Home university: Host university: <br/><%= f.text_field :home %>
			<%= f.text_field :host %><br/>
			Department: <br/><%= f.text_field :dept %>	
			<%= f.submit %>
		<% end %>
	</div> 
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<div align=center> Powered by Bogazici University </div>
</html>

