<html>
	<div><h1 class=doodle>CourseCompare.Com</h1></div>	
	<div class=query> 
		<%= form_for :query do |f| %>
			<%= f.label :home, "Home University" %>
			<%= f.text_field :home %>
			<%= f.label :host, "Host University" %>
			<%= f.text_field :host %>
			<%= f.label :dept, "Department" %>
			<%= f.text_field :dept %>	
			<%= f.submit "Submit" %>
		<% end %>
	</div> 
	<div class=footer> Created by <a href="http://github.com/ravshansk">@ravshansk</a> </div>
</html>

