<html>
	<div class=query> 
		<h1 class=doodle>Course Compare</h1>	
		<%= form_for :results, url: results_path do |f| %>
			<%= f.label :home, "Home University" %>
			<%= f.select :home, @schools %>
			<%= f.label :host, "Host University" %>
			<%= f.select :host, @schools %><br/>
			<%= f.label :dept, "Department" %>
			<%= f.select :dept, @depts  %>	<br/>
			<%= f.submit "Submit" %>
		<% end %>
	</div> 
	<div class=footer> Created by <a href="http://github.com/ravshansk">@ravshansk</a> </div>
</html>

